::selection {
  background: #ffffff;
  }

::-moz-selection {
  background: #ffffff;
  }

img::selection {
  background: transparent;
  }

img::-moz-selection {
  background: transparent;
  }

body {
  -webkit-tap-highlight-color: #ffffff;
  }
